/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import '~mapbox-gl/dist/mapbox-gl.css';
@import'../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.colorfortext{
    color: #2FB563;
}



/* for spinner */

.box {
    margin: 0 auto;
    width: 40px;
    height: 140px;
    /* border: solid 1px black; */
    position: relative;
  }
  
  .box .shadow {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: grey;
    bottom: 0;
    border-radius: 100%;
    transform: scaleX(0.8);
    opacity: 0.6;
    animation: shadowScale 1s linear infinite;
  }
  
  .gravity {
    width: 40px;
    height: 40px;
    animation: bounce 1s cubic-bezier(0.68, 0.35, 0.29, 0.54) infinite;
  }
  
  .ball {
    width: 40px;
    height: 40px;
    background-image: url("https://cdn2.iconfinder.com/data/icons/activity-5/50/26BD-soccer-ball-128.png");
    background-size: cover;
    animation: roll 0.7s linear infinite;
  }
  
  @keyframes roll {
    0% {}
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes bounce {
    0% {}
    50% {
      transform: translateY(100px);
    }
    100% {}
  }
  
  @keyframes shadowScale {
    0% {}
    50% {
      transform: scaleX(1);
      opacity: 0.8;
    }
    100% {}
  }
  
  .full-size{ 
    display:flex;
    justify-content: center;
    margin-top:25% ;
    padding-right:50% ;
    height: 100vh;
    width: 100vw;
  }