.filter {
    display: block;
    padding: 2px;
    background-color: #C9DDD1;
    height: max-content;
    width:max-content;
  }
  .card-container {
    display:flex;
    flex-direction: column;
    width: fit-content;
    margin: 8rem;
  }
  
/* .card-container:hover {
    transform: scale(1.05);
} */

mat-sidenav{
  height: max-content;
}

.mat-grid-tile{
  height: fit-content!important;
  width: 40%;
  height: auto;
  margin: 2rem;
}
mat-sidenav-container{
  height: 100%
}
/* .container{
  align-items: center;
  justify-content: end;
  background-color: aquamarine;
} */
.row{
  display: flex;
  margin: 0% !important;
  margin-left: 5%;
}
.full-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  margin-right: 20%;
  justify-content: center;
  align-items: center;
}
.width{
  width: 80vw;
  height: 70vw;
}
.background{
  padding: 2%;
  background-color: #C9DDD1;
}