<!-- landing-page.component.html -->

<div class="hero_area">
  <!-- Angular Material banner -->
  <div class="video">
    <video
      id="background-video"
      autoplay
      loop
      muted
      poster="https://res.cloudinary.com/dtjwgoss4/image/upload/v1702010835/turfImages/fkem6vxrwn963tgpq9cq.png"
    >
      <source
        src="https://res.cloudinary.com/dtjwgoss4/video/upload/v1702008082/play-perfect/ldvfo4ihelm7csgp8uhk.webm"
        type="video/webm"
      />
    </video>
    <div class="video-heading">
      <h1>Dynamic Seamless Distinctive</h1>
      <button mat-raised-button routerLink="/turf-list">Book now</button>
    </div>
  </div>

  <!-- Blog Section -->
  <section
    id="blog"
    [ngStyle]="{ 'margin-top': '50px', 'margin-bottom': '50px' }"
  >
    <div class="container">
      <div
        class="blog-section blog-heading mat-typography"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div>
          <h2 [ngStyle]="{ 'margin-bottom': '15px', color: '#2FB563' }">
            Turfo
          </h2>
        </div>
        <div>
          <h3
            [ngStyle]="{ 'font-size': '18px', color: '#2FB563' }"
            [ngStyle]="{ 'font-size': '22px' }"
          >
            Effortless Turf Booking for Your Ultimate Playing Experience
          </h3>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6">
    <div class="navigation-section">
      <div class="left-video">
        <video
          autoplay
          loop
          muted
          poster="https://res.cloudinary.com/dtjwgoss4/image/upload/v1702010835/turfImages/fkem6vxrwn963tgpq9cq.png"
        >
          <source
            src="https://res.cloudinary.com/dtjwgoss4/video/upload/v1702020273/ugllvrergxkzzjewxqkq.mp4"
            type="video/webm"
          />
          >
        </video>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 paragraph">
    <!-- <div class="paragraph"> -->
    <h1 class="text-center">Turfo ..</h1>
    <p>
      Our platform seamlessly bridges the gap between you and your preferred
      turf location. Discover convenience like never before as Turfo brings the
      perfect playing fields right to your fingertips, ensuring you're always in
      the right spot to elevate your game."
    </p>
    <!-- </div> -->
  </div>
</div>

