<!-- <div class="container">
    <div class="row ">
        <div class="col-md-12 mx-auto buttons">
            <button class="button-class " mat-raised-button>Weekly Income : {{weeklySales}}</button> 
            <button class="button-class" mat-raised-button>Monthly Income : {{monthySales}}</button> 
            <button class="button-class" mat-raised-button>Annual Income : {{annualSales}}</button> 
        </div>
        <div class="col-md-12 mx-auto">
            <h2 class="text-primary ml-5 mt-3 text-center">  Dashboard </h2>
            <canvas  id="canvas">{{chart}}</canvas>
        </div>
        <div class="col-md-12 mx-auto">
            <h2 class="text-primary ml-5 mt-3 text-center">  Bookings based on Sports Type </h2>
            <canvas  id="pieChart">{{pieChart}}</canvas>
        </div>
    </div>
</div> -->

<!-- <app-dashboard [weeklySales]="weeklySales" [monthySales]="monthySales" [annualSales]="annualSales" [chartData]="chartData" [pieChartData]="pieChartData" [chartLabel]="label" [pieChartLabel]="pieLabel" > </app-dashboard> -->
<div *ngIf="!isInitialized">
    <div class="no-data w-100 h-100">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="isInitialized">
    <!-- <mat-input-container>
        <input matInput
               [(ngModel)]="modelName"
               [matDatepicker]="datePickerRef"
               placeholder="Select from Date">
        <button matSuffix [matDatepickerToggle]="datePickerRef">  </button>
    </mat-input-container>
    <mat-datepicker
            #datePickerRef
            (selectedChanged)=""></mat-datepicker> -->
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input  matStartDate placeholder="Start date">
              <input  matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
    <app-dashboard
     [annualSales]="annualSales" 
     [chartData]="chartData" 
     [pieChartData]="pieChartData" 
     [chartLabels]="chartLabels"
     [pieLabels]="pieLabels"
     [monthySales]="monthySales"
      [weeklySales]="weeklySales"
      [chartText]="chartText"
      [pieChartText]="pieText"
    ></app-dashboard>
</div>
